In [1]:
#import all the relevant libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt


import gmaps

# Google developer API key
gkey = "AIzaSyA0niLKqz3ddzOy-exVu3QIIhwnib84xJc"
# Configure gmaps
gmaps.configure(api_key=gkey)

%matplotlib inline

In [2]:
def cities_uv(file_path):
    df = pd.read_csv(file_path, encoding='utf-8')
    df['Date-Time'] = pd.to_datetime(df['Date-Time'])
    df['Date'] = df['Date-Time'].dt.normalize()
    df.drop('Date-Time', axis=1, inplace=True)
    df['Month'] = df['Date'].dt.month
    df_groupby = df.groupby('Month')['UV_Index'].mean()
    groupby_df = pd.DataFrame(df_groupby).reset_index()
    return groupby_df

In [3]:
file_path = "../cities uv index/uv-adelaide-2021.csv"
adelaide = cities_uv(file_path)
adelaide_avg_uv =adelaide['UV_Index'].mean()

In [4]:
file_path = "../cities uv index/uv-brisbane-2021.csv"
brisbane = cities_uv(file_path)
brisbane_avg_uv =brisbane['UV_Index'].mean()

In [5]:
file_path = "../cities uv index/uv-canberra-2021.csv"
canberra = cities_uv(file_path)
adelaide_avg_uv =adelaide['UV_Index'].mean()

In [6]:
file_path = "../cities uv index/uv-darwin-2021.csv"
darwin = cities_uv(file_path)

In [7]:
file_path = "../cities uv index/uv-kingston-2021.csv"
kingston = cities_uv(file_path)

In [8]:
file_path = "../cities uv index/uv-melbourne-2021.csv"
melbourne = cities_uv(file_path)

In [9]:
file_path = "../cities uv index/uv-perth-2021.csv"
perth = cities_uv(file_path)

In [10]:
file_path = "../cities uv index/uv-sydney-2021.csv"
sydney = cities_uv(file_path)

In [11]:
avg_uv_cities = pd.DataFrame({'City': ['Adelaide', 'Brisbane', 'Canberra', 'Darwin', 'Kingston', 'Melbourne', 'Perth', 'Sydney'],
                              'Lat': [-34.95, -27.45, -35.31, -12.43, -42.99, -37.73, -31.93, -34.04],
                              'Lon': [138.52, 153.03, 149.21, 130.89, 147.29, 145.1, 115.98, 151.1],
                              'Avg_UV Index': [adelaide['UV_Index'].mean(),
                                               brisbane['UV_Index'].mean(),
                                               canberra['UV_Index'].mean(),
                                               darwin['UV_Index'].mean(),
                                               kingston['UV_Index'].mean(),
                                               melbourne['UV_Index'].mean(),
                                               perth['UV_Index'].mean(),
                                               sydney['UV_Index'].mean()]})

In [12]:
avg_uv_cities

        City    Lat     Lon  Avg_UV Index
0   Adelaide -34.95  138.52      1.386729
1   Brisbane -27.45  153.03      1.452052
2   Canberra -35.31  149.21      1.179010
3     Darwin -12.43  130.89      2.077758
4   Kingston -42.99  147.29      0.993960
5  Melbourne -37.73  145.10      1.144087
6      Perth -31.93  115.98      1.495964
7     Sydney -34.04  151.10      1.311113

In [13]:
avg_uv_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          8 non-null      object
 1   Lat           8 non-null      float64
 2   Lon           8 non-null      float64
 3   Avg_UV Index  8 non-null      float64
dtypes: float64(3), object(1)
memory usage: 384.0+ bytes

In [14]:
locations = avg_uv_cities[['Lat', 'Lon']]
uv = avg_uv_cities['Avg_UV Index']

In [17]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=uv, 
                                 dissipating=False, max_intensity=2.3,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=uv, 
                                 dissipating=False, max_intensity=2.5,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))