In [2]:
#import all the relevant libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
def cities_uv(file_path):
    df = pd.read_csv(file_path, encoding='utf-8')
    df['Date-Time'] = pd.to_datetime(df['Date-Time'])
    df['Date'] = df['Date-Time'].dt.normalize()
    df.drop('Date-Time', axis=1, inplace=True)
    df['Month'] = df['Date'].dt.month
    df_groupby = df.groupby('Month')['UV_Index'].mean()
    groupby_df = pd.DataFrame(df_groupby).reset_index()
    return df

In [5]:
file_path = "../cities uv index/uv-adelaide-2021.csv"
df = pd.read_csv(file_path, encoding='utf-8')

df.head()

        Date-Time    Lat     Lon  UV_Index
0  1/01/2021 0:00 -34.95  138.52      0.01
1  1/01/2021 0:01 -34.95  138.52      0.01
2  1/01/2021 0:02 -34.95  138.52      0.01
3  1/01/2021 0:03 -34.95  138.52      0.01
4  1/01/2021 0:04 -34.95  138.52      0.01

In [7]:
df['Date-Time'] = pd.to_datetime(df['Date-Time'])

In [12]:
df['Date'] = df['Date-Time'].dt.normalize()

In [15]:
df.drop('Date-Time', axis=1, inplace=True)

In [28]:
df['Month'] = df['Date'].dt.month

In [32]:
df_groupby = df.groupby('Month')['UV_Index'].mean()

In [33]:
groupby_df = pd.DataFrame(df_groupby).reset_index()

In [34]:
groupby_df

    Month  UV_Index
0       1  2.200765
1       2  1.968659
2       3  1.450231
3       4  0.999119
4       5  0.802104
5       6  0.715779
6       7  0.757905
7       8  1.019275
8       9  1.193877
9      10  1.559267
10     11  1.648209
11     12  2.325558